.wrap-last{
  margin-left: 30px;
  width: 180px;
}
.h1-last{
  font-size: 17px;
  margin-bottom: 20px;
  color: #000000;
}
.last-tick{
  height: 80px;
  width: 180px;
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 10px;
  border: 0.5px solid #cacaca;

}
.last-city{
  font-size: 12px;
  color: #000000;
  margin-bottom: 0px;

}
.last-station{
  font-size: 10px;
  color: #928F94;
  line-height: 10px;
  margin-bottom: 5px;

}
.last-row-inline {
  flex-wrap: nowrap!important;
  display: flex;
}
.last-col {
  padding-left: 10px;
}
.last-col-right {
  padding-left: 0px;
}
.last-icon{
  height: 12px;
}
.last-text-or{
  font-size: 12px;
  color: #FFA800;
}
.last-text{
  margin-top: 10px;
}